/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');




*{
  margin: 0;
  padding: 0;
  font-family: 'inter', sans-serif;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

nav img{
  width: 80px;
}

.nav-links{
  flex: 1;
  text-align: right;
}



.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size:15px ;
}

/*---------------hover-------------*/

.nav-links ul li::after{
  content:'';
  width: 0%;
  height: 2px;
  background: #000000;
  display: block;
  margin: auto;
  transition: 0.5s;
  color: white;
}

.CTA{
  padding-left: 62px;
  padding-right: 62px;
  padding-top: 17px;
  padding-bottom: 17px;
  color: rgb(0, 0, 0);
  background-color: white;
  border-radius: 50px;
  border: none;
  font-weight: 600;
}




.nav-links .active{
  color: #3A9FD5;
}



.nav-links ul li:hover::after{
  width: 100%;
} 

/*-------hide nav icons for larger breakpoints-----*/
nav .fa{
  display: none;
}


/*--------------hero section----------------*/

h2{
  font-size: 18px;
}

h1{
  font-size: 30px;
  font-weight: 900;
}

.hero-box{
  background-color: black;
  color: rgb(255, 255, 255);
  height: 100vh;
  text-align: center;
  width: 100vw;
}

.text-box{
  width: 100%;
  text-align: center;
  padding-top: 10%;
  height: 297px;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}

.buttons{
  margin-top: 30px;
  width: 500px;
  border: solid;
  border-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}


/*----------------more details------------*/

.more-details{
  width: 100vw;
  background-color: white;
  text-align: center;
  height: 60vh;
}

.text-container{
  margin-top: 10%;
}

.CTA-black{
  padding-left: 62px;
  padding-right: 62px;
  padding-top: 17px;
  padding-bottom: 17px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-radius: 50px;
  border: none;
  font-weight: 600;
  width: 217px;
}

/*--------------services------------*/


.services{
  width: 100vw;

}

.service{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.service img{
  width: 596px;
  height: 592px;
  object-fit: cover;
}

.service-text{
  height: 412px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.service-reverse{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.service-reverse img{
  width: 596px;
  height: 592px;
  object-fit: cover;
}






/*---------carousel--------*/



.carousel-container{
  width: 100vw;
  text-align: center;
  padding-left: 40px;
}

.wrapper{
  display: flex;
  max-width: 1200px;
  position: relative;
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #000000;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 500px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: 679px;
}
.carousel img:first-child{
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}


/*-----footers-------*/

.bottom{
  height: 50vh;
  text-align: center;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 50px;

}

.sign-off{
  border: solid;
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 202px;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
}

.sign-off img{
  width: 30px;
}

.sign-off .signoff{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 144px;
}

.sign-off .signoff img{
  width: 30px;
}